*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover
{
    color: #f1f1f1;
}

.sidenav h5
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav p
{
    padding-left: 50px;
    width: 150px;
    font-size: 20px;
    color: #6f6f6f;
    border: 1px solid #2a2a2a;
    background-color: #2a2a2a;
}
  
.sidenav .closebtn
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 36px;
    margin-right: 100px;
}
  
@media screen and (max-height: 450px)
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.image-container
{
    position: relative;
    display: inline-block;
    width: 100%;
}
  
.menu-text
{
    position: absolute;
    top: 30%;
    left: 95%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}
  
.image-container #menu 
{
    transition: opacity 0.3s;
}   

header hr, #main hr
{
    height:5px;
    background:black;
}
  
#main
{
    transition: margin-left .5s;
    padding: 20px;
}

table
{
    width: 100%;
    text-align: center;
}

#main table th
{
    border: 1px black solid;
    width: 250px;
    height: 30px;
}

#main table td
{
    border: 1px black solid;
    height: 30px;
}

legend
{
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}